<h1>Welcome! Tell us who you are...</h1>
<form class="example-form" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
  <mat-form-field class="example-full-width containerUpdate">
    <input matInput type="text" name="FirstName" placeholder="First Name" #FirstName="ngModel" [(ngModel)]="register.FirstName" required>
  </mat-form-field>
  <mat-form-field class="example-full-width containerUpdate">
    <input matInput type="text" name="LastName" placeholder="Last Name" #LastName="ngModel" [(ngModel)]="register.LastName" required>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width containerUpdate">
    <input matInput type="text" name="Email" placeholder="Your email" #Email="ngModel" [(ngModel)]="register.Email" [pattern]="emailPattern" required>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width containerUpdate">
    <input matInput type="password" name="Password" placeholder="Enter Password" #Password="ngModel" [(ngModel)]="register.Password" required minlength="3">
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit">
    Create Profile
  </button>
  <br>
</form>